.ordersTable-container {
  font-family: Arial, sans-serif;
  max-width: 900px;
  margin: 20px auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

.ordersTable-filter {
  margin-bottom: 20px;
}

.ordersTable-header {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 15px;
  font-weight: bold;
  background-color: #e9ecef;
  padding: 10px;
  border-radius: 8px;
}

.ordersTable-header p {
  text-align: center;
  color: #495057;
  padding: 5px 0;
}

.ordersTable-rows {
  margin-top: 20px;
}

.ordersTable-row {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 15px;
  padding: 15px 0;
  border-top: 1px solid #ddd;
}

.ordersTable-row p {
  text-align: center;
  padding: 5px 0;
}

.ordersTable-approveBtn,
.ordersTable-detailsBtn,
.ordersTable-editDeliveryDateBtn {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.ordersTable-approveBtn:hover,
.ordersTable-detailsBtn:hover,
.ordersTable-editDeliveryDateBtn:hover {
  background-color: #0056b3;
}

.ordersTable-editForm {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 10px;
}

.ordersTable-editForm input {
  padding: 5px;
  margin-right: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.ordersTable-updateBtn,
.ordersTable-cancelBtn {
  margin-left: 10px;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.ordersTable-updateBtn {
  background-color: #28a745;
}

.ordersTable-cancelBtn {
  background-color: #dc3545;
}

.ordersTable-updateBtn:hover {
  background-color: #218838;
}

.ordersTable-cancelBtn:hover {
  background-color: #c82333;
}

hr {
  border: 0;
  border-top: 1px solid #ddd;
  margin: 20px 0;
}

.ordersTable-actions {
  display: flex;
  justify-content: center;
  gap: 10px; /* Khoảng cách giữa các nút */
}

.ordersTable-detailsBtn,
.ordersTable-editDeliveryDateBtn {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.ordersTable-detailsBtn:hover,
.ordersTable-editDeliveryDateBtn:hover {
  background-color: #0056b3;
}

