.promotion-table {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 740px;
  padding: 10px 50px;
  margin:30px;
  border-radius: 6px;
  background: white;
  position: relative;
}

.promotion-table h1 {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}

.table-header,
.table-row {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
  text-align: center;
}

.table-header p,
.table-row p {
  margin: 0;
  padding: 0 5px;
  font-weight: bold;
}

.table-row {
  align-items: center;
  border-bottom: 1px solid #eee;
}


.table-row:hover {
  background-color: #f9f9f9;
}

.table-body hr {
  margin: 10px 0;
  border: none;
  border-top: 1px solid #ccc;
}
.add-promotion-button {
  position: absolute;
  top: -20px;
  left: -20px; 
  padding: 12px 24px;
  font-size: 18px;
  color: white;
  background-color: #4CAF50;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
}

.add-promotion-button:hover {
  background-color: #45a049;
  transform: scale(1.05);
}

.add-promotion-button:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(76, 175, 80, 0.6);
}
